.header{
  font-family: $font-awesome;
  background-color: $black;
  color: $white;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .3s ease;
  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all .3s ease;
  }
  &__light{
    background-color: $white;
    color: $black;
  }
  &__mobile{
    display: flex;
    justify-content: space-between;
    height: $header-height;
    & a{
      text-decoration: none;
      color: $white;
    }
    &--logo{
      margin-left: 2em;
      font-size: 1.5em;
      margin-top: .2rem;
      order: 1;
      &--picture{
      height: 0;
        & img{
        border-radius: 50%;
        width: 3rem;
        border: .2rem solid $white;
        transition: all 1.2s ease;
        }
        & img:hover{
          transform: rotate(360deg);
          transition: all 1.2s ease;
          border: .2rem solid $orange;
        }
        & figcaption{
          position: absolute;
          top: 0;
          margin-left: 3em;
        }
        & figcaption:hover{
          color: $orange;
        }
      }
    }
    &--btn{
      outline: none;
      margin-right: 1.5em;
      height: $header-height;
      width: $header-height;
      line-height: $header-height;
      order: 2;
      border-radius: 5px;
      background-color: $black;
      box-sizing: border-box;
      border: 2px solid $black;
      font-size: 1.5em;
      @include respond-to(md) {
        display: none;
      }
    }
    &--btn:hover{
      color: $orange;
      border: 2px solid $orange;
    }
  }
  &__menu--navbar{
    background-color: $black;
    @include respond-to(mm) {
      width: 150px;
    }
    &__light{
      background-color: $white;
    }
  }
  &__menu--list{
    height: 0;
    overflow: hidden;
    list-style-type: none;
    transition: height .3s ease;
    @include respond-to(md) {
      height: $header-height;
      margin-right: 3em;
    }
    &--show{
      height: 100%;
      transition: height .3s ease;
    }
  }
}
.page_item{
  @include respond-to(md) {
    display: inline-block;
    margin: 0;
    text-align: center;
    min-width: 90px;
  }
  & a{
    text-decoration: none;
    color: $white;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    border-top: 3px solid $black;
    @include respond-to(md) {
      box-sizing: border-box;
      padding: 0 .5em;
    }
    &:hover{
      box-sizing: border-box;
      color: $orange;
      border-top: 3px solid $orange;
      @include respond-to(mm) {
        border-top: 3px solid  grey;
        background-color: grey;
      }
    }
  }
  &__light a{
    color: $black;
  }
}